<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>Gerenciamento</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap -->
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4Q6Gf2aSP4eDXB8Miphtr37CMZZQ5oXLH2yaXMJ2w8e2ZtHTl7GptT4jmndRuHDT" crossorigin="anonymous">
    <!-- Datatable CSS -->
    <link rel="stylesheet" href="https://cdn.datatables.net/2.3.1/css/dataTables.dataTables.min.css">
    <!-- Toastr CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" rel="stylesheet" />
    <!-- CSS SGC_FIAP -->
    <link rel="stylesheet" href="/src/public/dist/css/dashboard.css"> 
</head>
<body>

  <div class="container">
    <ul class="nav nav-underline mb-3" id="myTab" role="tablist">
      <li class="nav-item" role="presentation">
        <button class="nav-link active" id="estudantes-tab" data-bs-toggle="tab" data-bs-target="#estudantes" type="button" role="tab">Estudantes</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="turmas-tab" data-bs-toggle="tab" data-bs-target="#turmas" type="button" role="tab">Turmas</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="matriculas-tab" data-bs-toggle="tab" data-bs-target="#matriculas" type="button" role="tab">Matrículas</button>
      </li>
    </ul>

    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade show active" id="estudantes" role="tabpanel">
        <h3>Estudantes</h3>
        <div>
             <p>Aqui você pode gerenciar os estudantes cadastrados no sistema.</p>
             <button type="button" class="btn btn-outline-dark" id="cadastrar_estudante" data-bs-toggle="modal" data-bs-target="#modalEstudante">Cadastrar</button>
        </div>
       

      <div class="container-table mt-4" id="table-estudantes">
        <table class="table w-100" style="text-align: center; overflow-x: auto;" id="estudantes-table" aria-live="polite">
            <thead>
                <tr>
                    <th scope="col" style="width: 40% !important;">Nome</th>
                    <th scope="col" style="white-space: nowrap;">Nascimento</th>
                    <th scope="col" style="white-space: nowrap;">Email</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
      </div>
        
      </div>
      <div class="tab-pane fade" id="turmas" role="tabpanel">
        <h3>Turmas</h3>
        <p>Aqui você pode gerenciar as turmas e seus respectivos dados.</p>
      
    <div class="container-table mt-4" id="table-estudantes">
        <table class="table w-100" style="text-align: center; overflow-x: auto;" id="turmas-table" aria-live="polite">
            <thead>
                <tr>
                    <th scope="col" style="width: 40% !important;">Nome</th>
                    <th scope="col" style="white-space: nowrap;">Tipo</th>
                    <th scope="col" style="white-space: nowrap;">Descrição</th>

                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
      </div>
    
    
    
    </div>
      <div class="tab-pane fade" id="matriculas" role="tabpanel">
        <h3>Matrículas</h3>
        <p>Aqui você pode visualizar e gerenciar as matrículas dos estudantes.</p>
      
    <div class="container-table mt-4" id="table-estudantes">
        <table class="table w-100" style="text-align: center; overflow-x: auto;" id="matriculas-table" aria-live="polite">
            <thead>
                <tr>
                    <th scope="col" style="width: 40% !important;">Estudante</th>
                    <th scope="col" style="white-space: nowrap;">Data</th>
                    <th scope="col" style="white-space: nowrap;">Turma</th>

                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
      </div>
    </div>
    </div>
  </div>

 <!-- Modal Estudante -->
  <div class="modal fade" id="modalEstudante" tabindex="-1" aria-labelledby="modalEstudanteLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content rounded-4 shadow">
        <div class="modal-header">
            <h5 class="modal-title" id="modalEstudanteLabel">Cadastrar Estudante</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
        </div>
    <div class="modal-body">
        <form id="formEstudante" class="needs-validation" novalidate>
            <div class="mb-3">
                <label for="nome" class="form-label required">Nome</label>
                <input type="text" class="form-control" id="modal__nome-estudante" name="nome" required>
            </div>
            <div class="mb-3">
                <label for="email" class="form-label required">E-mail</label>
                <input type="email" class="form-control" id="modal__email-estudante" name="email" required>
            </div>
            <div class="mb-3">
                <label for="data_nascimento" class="form-label required">Data de Nascimento</label>
                <input type="date" class="form-control" id="modal__data_nascimento-estudante" name="data_nascimento" required>
            </div>
        </form>
    </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-outline-dark" data-bs-dismiss="modal">Cancelar</button>
            <button form="formEstudante" id="createEstudante_btn" class="btn btn-dark">Salvar</button>
        </div>
    </div>
  </div>

 <!-- Modal Estudante -->


  <!-- Scripts -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/js/bootstrap.bundle.min.js" integrity="sha384-j1CDi7MgGQ12Z7Qab0qlWQ/Qqz24Gc6BM0thvEMVjHnfYGF0rmFCozFSxQBxwHKO" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/notifyjs-browser@0.4.2/dist/notify.min.js"></script>
  <!-- Toastr JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
  <!-- Datatable JS -->
  <script src="https://cdn.datatables.net/2.3.1/js/dataTables.min.js"></script>
  <!-- JavaScript -->
    <script src="src/public/dist/js/global.js"></script>
    <script src="/src/public/dist/js/dashboard.js"></script>
</body>
</html>